footer.footer
  nav.social 
    a.social-item(href="#")
      img.social-item__image(src="/assets/img/facebook.svg", alt="Facebook")
    a.social-item(href="#")
      img.social-item__image(src="/assets/img/twitter.svg", alt="Twitter")
    a.social-item(href="#")
      img.social-item__image(src="/assets/img/instagram.svg", alt="Instagram")
  p.footer-copy © 2004-2017 Visit Charlotte. All Rights Reserved. 500 S. College Street, Suite 300, Charlotte, NC 28202
