header.header
  nav.navigation
    a.navigation__item(href="#") The Queen City
    a.navigation__item(href="#") My Reservations
    a.navigation__item(href="#") Guide

  .hero
    h1.hero-title
      | Welcome to
      span.hero-title__big Charlotte
      | the queen city
