<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Charlotte
    link(href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Montserrat:300,400,600,700" rel="stylesheet")
    link(rel="stylesheet", href="/assets/css/main.css")
  body
    include includes/header.pug
    main.main
      include components/dates.pug
      .results.is-hidden(data-js="results")
        .results-title Best choices between <span data-js="date-start"></span> and <span data-js="date-end"></span>
        .results-container
          include components/filters.pug
          include components/hotels.pug
    include includes/footer.pug
    script(src="/assets/js/main.js")
