.hotel
  @extend %flexbox
  +align-items(center)
  +box-shadow(0 .1875rem 1.25rem rgba($theme-color--dark,.1))
  +border-radius(.3125rem)
  transition: .5s all ease
  background-color: $theme-color--light
  margin-left: 3.75rem

  @media (min-width: 64rem)
    margin-left: 0

  &:hover
    transform: translateY(-.3125rem)
    +box-shadow(0 .1875rem 1.25rem .1875rem rgba($theme-color--dark,.15))

  &:not(:last-child)
    margin-bottom: 1.875rem

  &-figure
    margin: 2rem 1.875rem 2rem -3.75rem

    img
      +border-radius(.3125rem)
      +box-shadow(0 0 .625rem .1875rem rgba($theme-color--dark,.15))

  &-content
    @extend %flexbox
    +align-items(center)

  &-prices
    width: 60%
    margin: 0 3.125rem
    border-left: 2px solid lighten($theme-color--dark, 90%)
    color: lighten($theme-color--dark, 71%)
    text-align: right
    letter-spacing: .141875rem

    strong
      display: block

      &:before
        content: "$"

    &__total
      font-size: 1rem

      strong
        font-size: 1.875rem
        color: $theme-color--info

    &__pernight
      font:
        size: .875rem
        weight: 300

      strong
        font-size: 1.25rem
        color: $theme-color

  &.is-hidden
    position: absolute
    opacity: 0
    transform: translateX(100%)
      
.hotel-info
  &__title
    +title(h3)

  &__description
    font-size: .9375rem
    color: lighten($theme-color--dark, 71%)

  &__rate
    display: block
    height: .75rem
    background: 
      image: url(/assets/img/star-filled.svg)
      repeat: repeat-x
      size: .75rem

    @for $i from 1 through 5
      &.rate-#{$i}
        width: .75rem * $i

  &__button
    margin-top: 2rem

    &__book
      +button(action, small)
      margin-right: 1rem

    &__history
      +button(info, small)
