aside.filters
  h4.filters-title Filters

  .price-filter.filters-widget
    h5.filters-widget__title Price Range per <strong>night</strong>
    input.price-filter__range(type="range", data-js="price-range", min="100", max="600", step="100", value="100")
    .price-filter__subtitle
      p.price-filter__subtitle-min
        span.price-filter__subtitle__label Min
        span.price-filter__subtitle__value(data-js="subtitle-minvalue") 100
      p.price-filter__subtitle-max
        span.price-filter__subtitle__label Max
        span.price-filter__subtitle__value(data-js="subtitle-maxvalue") 600

  .rate-filter.filters-widget
    h5.filters-widget__title Stars
    p.filters-widget__line
      input.rate-filter__checkbox(type="checkbox", data-js="rate-1", id="rate-1")
      label.rate-filter__label(aria-label="1 star", for="rate-1")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")

    p.filters-widget__line
      input.rate-filter__checkbox(type="checkbox", data-js="rate-2", id="rate-2")
      label.rate-filter__label(aria-label="2 stars", for="rate-2")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")

    p.filters-widget__line
      input.rate-filter__checkbox(type="checkbox", data-js="rate-3", id="rate-3")
      label.rate-filter__label(aria-label="3 stars", for="rate-3")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")

    p.filters-widget__line
      input.rate-filter__checkbox(type="checkbox", data-js="rate-4", id="rate-4")
      label.rate-filter__label(aria-label="4 stars", for="rate-4")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-outline.svg", alt="")

    p.filters-widget__line
      input.rate-filter__checkbox(type="checkbox", data-js="rate-5", id="rate-5")
      label.rate-filter__label(aria-label="5 stars", for="rate-5")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
        img(src="/assets/img/star-filled.svg", alt="")
